<%- include("includes/head") %>
<%- include("includes/nav") %>

<div class="container">
   <div class="row">

      <div class="col-lg-2"></div>
      
      <div class="col-lg-8 my-5">
         <h1 id="h1-home-agenda" class="text-center text-white">Agenda</h1>
         <p class="text-center lead text-white">Seus compromissos estão abaixo:</p>

         <div class="row">
            <div class="col">
               <div class="alert alert-success text-center">
                  <p class="alert-success">Acerto</p>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col">
               <div class="alert alert-danger text-center">
                  <p class="alert-danger">Erro</p>
               </div>
            </div>
         </div>
         
      </div>

      <div class="table-responsive">
         <table id="tbl" class="table text-center table-dark table-striped table-hover">

            <thead style="font-weight: bold; font-size: large;">
               <td>Nome</td>
               <td>E-mail</td>
               <td>Telefone</td>
               <td>Endereço</td>
               <td>Site/Rede Social</td>
            </thead>
            
            <tr>
               <td>Marcus Vini</td>
               <td>vinnie.nsts@gmail.com</td>
               <td>(11) 99832-1234</td>
               <td>Rua Vapabussu</td>
               <td>send.rolemberg.net.br</td>
            </tr>
            
            <tr>
               <td>Marcus Vini</td>
               <td>vinnie.nsts@gmail.com</td>
               <td>(11) 99832-1234</td>
               <td>Rua Vapabussu</td>
               <td>send.rolemberg.net.br</td>
            </tr>
            
            <tr>
               <td>Marcus Vini</td>
               <td>vinnie.nsts@gmail.com</td>
               <td>(11) 99832-1234</td>
               <td>Rua Vapabussu</td>
               <td>send.rolemberg.net.br</td>
            </tr>
            
            <tr>
               <td>Marcus Vini</td>
               <td>vinnie.nsts@gmail.com</td>
               <td>(11) 99832-1234</td>
               <td>Rua Vapabussu</td>
               <td>send.rolemberg.net.br</td>
            </tr>

         </table>

      </div>

      <div class="col-lg-2"></div>
      
   </div>
</div>

<%- include("includes/footer") %>
